
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanHang.Context.Product>


@{
    ViewBag.Title = "Index";
}
<style>
    .pagination {
        
        display: inline-block;
        padding-left: 0;
        list-style: none;
        border-radius: 4px;
    }
    .pagination > li{
        display: inline;
    }
    .pagination > li > a,
    .pagination > li > span {
        position : relative;
        float : left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.428571429;
        text-decoration: none;
        background-color: #ffffff;
        border : 1px solid #dddddd;
    }
</style>

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <p>
                @Html.ActionLink("Tạo mới ", "Create")
            </p>


            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <p>
                    Tìm tên sản phẩm @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Tìm kiếm" />
                </p>
            }


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ShortDes)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PriceDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().BrandId)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Avatar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDes)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandId)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
            Trang @(Model.PageCount< Model.PageNumber? 0: Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

        </div><!-- /.container-fluid -->
    </div>

</div>


